@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInSlow {
    0% { opacity: 0; }
    35% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    align-items: center;
    background-color: rgb(36, 36, 41);
    color:rgb(233, 233, 233);
    display: flex;
    flex-flow: column wrap;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    animation: fadeIn 2s;
}

body p {
    animation: fadeIn 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#player-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    justify-content: center;
    min-width: 20em;
    max-width: 30em;
}

.player-info {
    animation: fadeIn 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;

    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    gap: 0;
    margin: -4em;
}

.rps-icon {
    font-size: 80px;
}

#comp-icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

.names {
    margin: -4em;
}

.scores {
    margin: 6em;
}

#button-container {
    animation: fadeIn 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;

    display: inline-flex;
    gap: 2em;
    justify-content: center;
}

#button-container,
#replay-container {
    margin: 1em 0;
}

button {
    cursor: pointer;
    padding: 4px;
    width: 6em;
}

#winner {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}

.hidden {
    display: none;
}

.end-game {
    animation: fadeIn 4s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.win-game {
    color: limegreen;
}

.lose-game {
    color: red;
}