@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInSlow {
    0% { opacity: 0; }
    35% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes skew {
    0% {}
    60% {transform: rotate(0); }
    100% { transform: rotate(6deg); }
}

@keyframes grow {
    0% {}
    100% {transform: scale(1.2);}
}

body {
    align-items: center;
    background-color: rgb(36, 36, 41);
    color:rgb(233, 233, 233);
    display: flex;
    flex-flow: column wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 2em;
    text-align: center;
    width: 100%;
}

h1 {
    animation: fadeIn 2s;
    font-size: 36px;
}

body p {
    animation: fadeIn 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#player-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    justify-content: center;
    margin-bottom: 1em;
    min-width: 25em;
    max-width: 30em;
}

.player-info {
    animation: fadeIn 2s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
    opacity: 0;

    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    gap: 1em;
    margin: 2em;
}

.rps-icon {
    font-size: 80px;
    margin: 0;
}

#comp-icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

.names {
    margin: 0;
}

.scores {
    margin: 0;

}

#button-container {
    animation: fadeIn 2s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
    opacity: 0;

    display: inline-flex;
    gap: 2em;
    justify-content: center;
}

button {
    background-color: rgb(204, 204, 210);
    border: 1px solid rgb(80, 80, 89);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 6px 4px;
    width: 7em;
}

button:hover {
    background-color: rgb(182, 182, 185);
    border: 1px solid rgb(80, 80, 89);
}

button:active {
    background-color: rgb(82, 82, 89);
    border: 1px solid rgb(80,80,89);
    color:rgb(204, 204, 210);
}

// Events

.hidden {
    display: none;
}

.end-game {
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.win-game {
    animation: grow 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    color: limegreen;
    opacity: 1;
}

.lose-game {
    animation: skew .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    color: red;
    opacity: 1;
}